body {
    background-color: #eaeaea;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    h1 {
        font-size: 40px;
    
    }
    
    div {
        padding-left: 10px;
    }
    
    .series {
        background-color: rgb(80, 153, 86);
        border-radius: 10px;
    }
    
    .peliculas {
        background-color: cadetblue;
        border-radius: 10px;
    }
    